<?xml version="1.0"?>

<model>
  <name>sonar</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <author>
    <name>Nat Tuck</name>
    <email>...</email>
  </author>

  <description>
    Lame sonar model
  </description>
</model>
