<?xml version="1.0"?>

<model>
  <name>Teapot: A Truck</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <author>
    <name>Nat Tuck</name>
    <email>...</email>
  </author>

  <author>
    <name>Xingyu Lu</name>
    <email>...</email>
  </author>
  
  <description>
    A Bot with tank_wheels and Sonar snesor.
  </description>
</model>
